.theme--dark.v-app-bar.v-toolbar.v-sheet {
    background-color: #272e41;
}

::-webkit-scrollbar {
    background-color: #272e41;
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #2e364b;
    border-radius: 7px;
    border: 4px solid #272e41;
    min-width: 100px;
    min-height: 100px;
}

.theme--dark.v-toolbar.v-sheet {
    background-color: #4e5d84;
}

a {
    background-color: #272e41;
}

:root {
    --v-panel-base: #272e41;

}

.theme--dark.v-data-table {
    background-color: #272e41;
}

.theme--dark.v-btn.v-btn--has-bg {
    background-color: #4e5d84;
}


.theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #272e41;
}

.theme--dark.v-card {
    background-color: #272e41;
}

.theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #272e41;
}


.theme--dark.v-sheet {
    background-color: #272e41;
}


.v-application .grey.darken-3 {
    background-color: #272e41!important;
}

.ͼo {
    background-color: #272e41;
    color: #9cdcfe;
}

.ͼo .cm-gutters {
    background-color: #272e41;
    color: #9cdcfe;
}